.navbar {
    background-color: green;
  }
  .container img {
    object-fit: cover;
  }

  .container img {
    object-fit: cover;
  }
  .text h2 {
    font-size: 30px;
    margin-left: 80px;
  }
  .nav-link {
    color: white;
    margin-left: 30px;
    font-weight: bold;
  }
  .nav-link:hover {
    color: black;
  }